
body{
    
    background-color: black;
}
.Quiz{
    width: 400px;
    height: 500px;
    margin: auto;                                    
    display: block;
    background-color:#06141b;
    border: solid 5px rgba(255, 255, 255, 0.041);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 4px 5px 0px rgba(236, 9, 9, 0.84);
-webkit-box-shadow: 7px 4px 5px 0px rgba(212, 10, 10, 0.84);
-moz-box-shadow: 7px 4px 5px 0px rgba(192, 21, 21, 0.84);
}

.Quiz #divTitulo{

    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 1.35rem;
    border-right: 2.5px solid #ffff;
    width: 21ch;
    overflow: hidden;
    white-space: nowrap;
    animation: piscarCursor 0.5s infinite,digitarAnimacao 5s alternate steps(22);
    margin-top: 5%;
    margin-bottom: 5%;
    
    
}
@keyframes piscarAcertoChute {
    25%{
        border-color: #00ff15;
    }
    50%{
        border-color: #11212d;
    }
    75%{
        border-color: #00ff15;
    }
    100%{
        border-color: #11212d;
    }

}
@keyframes piscarErroChute {
    25%{
        border-color: #ff0000;
    }
    50%{
        border-color: #11212d;
    }
    75%{
        border-color: #ff0000;
    }
    100%{
        border-color: #11212d;
    }
}


@keyframes piscarCursor {
    50%{
        border-right-color: transparent;
    }
}

@keyframes digitarAnimacao {
    0%{
        width: 0;
    }
    25%{
        width: 21ch;
    }
    50%{
        width: 21ch;
    }
    75%{
        width: 2ch;
    }
    100%{
        width: 21ch;
    }
}




.frameButtons{
    width: fit-content;
    height: fit-content;
    margin: 5% 0 5% 0;
    margin-bottom: 5%;
    margin-top: 5%;
}
.frameButtons button{
    width: 100px;
    height: 40px;
    
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
   


}
#btngreen{
    background-color: #11212d;
   
}
 #btngreen:hover{ 
   background-color: green;
   transition: all 0.4s;
}
#btnred{
    background-color: #ff0000;
  
   
}
@media screen and (max-width: 600px) {
    .Quiz{
    width: 300px;
    height: 500px;
    }
}
