footer {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-40);
    animation: LoadAnimation 2s;
    background-color: rgba(27, 27, 27, 0.2);
}

footer h3 {
    color: rgb(255, 255, 255);
    letter-spacing: .35ch;
}

.footer-link {
    text-decoration: none;
}

.footer_content {
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}

.footer_social_media {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.footer_social_media .footer-link i {
    font-size: 1.5rem;
}

.footer_social_media .footer-link:hover {
    opacity: 0.8;
    transform: scale(1.5);
    transition: all 0.4s;
    box-shadow: 2px 2px 1px black, -2px -2px 1px white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: white;
}
.footer-link {
    cursor: pointer;
}
.footer-list .footer-link a {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    
}

.footer-list .footer-link:hover {
    transform: translateX(10px);
    font-size-adjust:.55;
    transition: all 0.5s;

  

}

.copy {
    color: white;
    text-align: center;
    font-size: 1.25rem;

}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(111.1deg, rgba(69, 150, 164, 1) 2.5%, rgba(17, 20, 34, 1) 100.3%);
}

@media screen and (max-width: 600px) {
    .footer_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_content {
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .footer_social_media {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .footer_content {
        border: none;

    }
}