<<<<<<< HEAD
footer {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
  color: var(--color-neutral-40);
  animation: LoadAnimation 2s;
}

footer h3 {
  color: red;
  text-shadow: 3px 2px 5px rgba(220, 15, 15, 0.6);
}

.footer-link {
  text-decoration: none;
}

.footer_content {
  background-color: rgba(15, 15, 15, 0.3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 3.5rem;
}

.footer_social_media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer_social_media .footer-link {
  height: 2.5rem;
  width: 2.5rem;
  color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.footer_social_media .footer-link i {
  font-size: 1.5rem;
}

.footer_social_media .footer-link:hover {
  opacity: 0.8;
  border: 1px solid red;
  transition: all 0.4s;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  color: white;
}

.footer-list .footer-link a {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: red;
}
.copy {
  color: white;
  text-align: center;
  font-size: 1.25rem;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(220, 15, 15, 0.8);
}
@media screen and (max-width: 600px) {
  .footer_content {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_content {
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .footer_social_media{
     justify-content: center;
    align-items: center;
    text-align: center;
  }
}
=======
.rodape{
    width:100%;
    height:5dvh;
    overflow: hidden;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.copyright{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:1.5% ;
}

.copyright p{
    font-size:1.5ch;
    color: aliceblue;
}

.contatos{
    display: flex;
    justify-content:left;
    align-items: center;
    width:50%;
    height:100%;
    background-color: transparent;
    overflow: hidden;
}



.contatos .frameIconGroup{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.contatos .frameIcon{
    width:8%;
    height:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.contatos a{
    width:100%;
    height:100%;
}
.contatos img{
    width: 100%;
    height: 100%;
    cursor:pointer;
}
>>>>>>> e65204038e51d6b40347bb0d6c73f9938881c0d6
