

.frameInput{
    width: max-content;
    height: fit-content;
   
    
  }
  .frameInput input{
    
    border: 3px solid #06141b;
    border-radius: 5px 15px 5px 15px;
    margin-bottom: 5%;
    margin-top: 2.5%;
    padding: 20px;
  
  }
